@charset "UTF-8";

/* 回答はここに書いてね */
.q10_text-box{
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}

.q10_text-box::before,.q10_text-box::after{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  content: "";
}
.q10_text-box::before{
  bottom: -45px;
  left: 30px;
  border-top-color: #222;
}
.q10_text-box::after{
  border-top-color: #fff;
  bottom: -38px;
  left: 30px;
}

/* .q10_text::before  {
  transform: rotate(-45deg);  
  position: absolute;
  content: '';
}
.q10_text::before  {
  bottom: -20px;
  left: 33px;
  width: 29px;
  height: 28px;
  background-color: #fff;
  border-bottom: 5px solid #222;
  border-left: 5px solid #222;
} */
/* 回答はここに書いてね */
